$col_dark: #282528;
$col_grean: #1ab798;
$col_white: #FFF;

$fontS: 'Open Sans', sans-serif;
$fontR: 'Raleway', sans-serif;

//@extend %list;
%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
  transition: all 200ms linear;
  margin: 0;
  padding: 0;
  font-family: serif;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 292px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 708px;
  }

  @media screen and (min-width: 1200px) {
    width: 1118px;
  }
}

.sectoin-title {
  margin: 0 auto;
  position: relative;
  font-size: 18px;
  font-family: $fontR;
  color: $col_grean;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: -60px;
    width: 60px;
    height: 1px;
    background-color: #babdc1;

    @media screen and (min-width: 768px) {
      top: 20px;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: -60px;
    width: 60px;
    height: 1px;
    background-color: #babdc1;

    @media screen and (min-width: 768px) {
      top: 20px;
    }
  }
}

