.feachers {
  padding: 60px 0;
}

.key-feachers {
  display: flex;
  flex-direction: column;
}

.features__section-title {
  width: 150px;
}

.features__text {
  font-family: $fontS;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $col_dark;
  text-align: center;
  padding: 30px 12px 30px 12px;
}

.key-feachers__list {
  @extend %list;
  list-style: none;
}

.key-faechers__item {
  width: 290px;
  padding-left: 64px;
}

.key-faechers__item-name {
  position: relative;
  font-family: $fontR;
  font-weight: 700;
  font-size: 18px;
  color: $col_dark;
  padding-bottom: 12px;
}

.key-faechers__item-name::before {
  display: inline-block;
  position: absolute;
  margin-left: -60px;
  width: 30px;
  height: 30px;
  content: "";
}

.key-faechers__item-name_1::before {
  background-image: url('../images/icon_board.png');
}

.key-faechers__item-name_2::before {
  background-image: url('../images/icon-hub.svg');
}

.key-faechers__item-name_3::before {
  background-image: url('../images/icon-thumb.svg');
}

.key-faechers__item-name_4::before {
  background-image: url('../images/icon-star.svg');
}

.key-faechers__item-name_5::before {
  background-image: url('../images/icon-bell.svg');
}

.key-faechers__item-name_6::before {
  background-image: url('../images/icon-share.svg');
}

.key-faechers__item-text {
  font-family: $fontS;
  font-weight: 400;
  font-size: 13px;
  color: $col_dark;
  line-height: 24px;
}

.key-faechers__image {
  display: none;
}

@media (max-width: 767px) {
 
  

  .key-faechers__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .feachers {
    padding: 100px 0 60px;
  }
  
  .key-feachers {
    flex-direction: row;
    justify-content: space-between;
  }

  .key-feachers__list {
    display: flex;
    flex-direction: column;
  }

  .features__section-title {
    width: 230px;
  }

  .features__text {
    font-size: 18px;
    line-height: 36px;
    padding: 52px 38px 60px 38px;
  }

  .key-faechers__item {
    padding-bottom: 100px;
    width: 320px;
  }
}

@media screen and (min-width: 1200px) {
  .feachers {
    padding: 110px 0 60px 0;
  }

  .key-faechers__item {
    padding-bottom: 90px;
    width: 320px;
  }

  .features__section-title {
    width: 230px;
  }

  .key-feachers {
    position: relative;
  }

  .features__text {
    padding: 70px 60px 90px;
  }

  .key-feachers__list {
    padding-top: 60px;
  }

  .key-faechers__image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}