.footer {
    background-image: url("../images/bg_footer.png");
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

.footer__section-title {
    width: 135px;
    padding-bottom: 50px;
}

.footer__section-title_white {
    color: #ffffff;
}

.footer__right{
  margin-bottom: 50px;
}

.footer__left {
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
}

.footer__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    opacity: .5;
    margin-bottom: 40px;
}

.footer__socials {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 40px;
}

.footer__socials-item {
    position: relative;
}

.footer__socials-link {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 23px;
}

.footer__socials-item:not(:last-child) {
    margin-right: 15px;
}

.footer__socials-link_facebook {
    background-color: #3b5997;
}

.footer__socials-link_twitter {
    background-color: #3ec2f3;
}

.footer__socials-link_linkedin {
    background-color: #007ab9;
}

.footer__socials-svg:hover, 
.footer__socials-svg:focus {
  fill: #a9d9eb;;
}

.footer__socials-svg {
    position: absolute;
    width: 20px;
    height: 20px;
    fill: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap-reverse;
}

.footer__cont {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #bface2;
    text-align: center;
}

.footer__input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    padding-left: 15px;
    outline: none;
}

.footer__text-area {
    width: 100%;
    height: 175px;
    border: none;
    border-radius: 3px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    padding-left: 15px;
    padding-top: 10px;
    outline: none;
    margin-bottom: 45px;
}

.footer__input::placeholder, 
.footer__text-area::placeholder {
    color: #c1c1c1;
}

.footer__button {
    display: block;
    width: 170px;
    height: 50px;
    background-color: #31d4e7;
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer__copyrights {
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.502);
    text-align: left;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, .3);
}

@media screen and (min-width: 768px) {
    .footer__section-title {
      width: 205px;
    }

    .footer__text {
      width: 430px;
    }
  
    .footer__form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .footer__input {
      width: 270px;
      height: 45px;
    }
  
    .footer__input:nth-child(1) {
      margin-right: 30px;
    }
  
    .footer__text-area {
      width: 570px;
      height: 180px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .footer__section-title {
      padding-bottom: 120px;
    }
    
    .footer__left {
      margin: 0;
    }
    
    .footer__right {
      width: 570px;
    }
   
    .footer__contacts {
      justify-content: space-between;
      margin-bottom: 60px;
    }

    .footer__title {
        text-align: left;
    }
  
    .footer__text {
      width: 430px;
      text-align: left;
    }
    
    .footer__socials {
        justify-content: left;
    }

    .footer__cont {
        text-align: left;
    }

    .footer__form {
      justify-content: flex-end;
    }
  
    .footer__input {
      width: 270px;
      height: 45px;
    }
  
    .footer__input:nth-child(1) {
      margin-right: 30px;
    }
  
    .footer__text-area {
      width: 570px;
      height: 180px;
    }

    .footer__button {
        margin: 0;
    }
  }